@media only screen and (max-width: 1151px){
    .pic_in_sec{
        justify-content: space-around;
    }
}
@media only screen and (max-width: 992px){
    .container{
        margin-left: 10px;
        margin-right: 10px;
    }
    .tools{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .tools .information{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .tools .img_bg{
        position: relative;
        width: 100%;
        height: 400px;
    }
}
@media only screen and (max-width: 890px){
    header nav ul li{
        margin-left: 10px;
    }
}
@media only screen and (max-width: 790px){
    header nav ul li a{
        font-size: 10px;
    }
}
@media only screen and (max-width: 767px){
    header nav{
        display: none;
    }
    .past .img_pic{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .past .img_pic a{
        padding-bottom: 55px;
    }
}
@media only screen and (max-width: 428px){
   .main_banner .bottom_icon{
       bottom: -10px;
   }
    .sec_vol1{
        padding-top: 60px;
    }
    main .main_banner{
        padding-bottom: 80px;
    }
    footer .sub_menu ul:first-of-type{
        margin-right: 20px;
        margin-left: 40px;
    }
    footer .container{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 320px){
    .bottom_icon li{
        font-size: 7px;
    }
    .sec_vol1 h3{
        font-size: 30px;
    }
    .sec_vol1 h4{
        font-size: 12px;
    }
    .sec_vol1 .pic_in_sec .text_art h5{
        font-size: 10px;
    }
    .sec_vol1 .pic_in_sec .text_art p{
        font-size: 11px;
    }
    footer .container{
        flex-wrap: wrap;
    }
    footer .img_soci li{
        padding-right: 10px;
    }

}
