*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #181818;
    padding: 24px 0;
}

.container{
    max-width: 1200px;
    margin: auto;
}
header .container{
    padding: 0 20px 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}
header nav ul li {
    margin-left: 32px;
}
header nav ul li:first-of-type{
    margin-right: 24px;
}
header nav li a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
header nav ul li:first-of-type a{
    font-size: 13px;
}
header nav ul li:last-of-type a{
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 11px 20px;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.4px;
}
.main_banner{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: calc(100vh - 86px);
    position: relative;
}
.span_text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    justify-content: center;
    display: flex;
    padding-top: 461px;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.p_text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 600px;
    text-align: center;
    padding-top: 18px;
}
.sect_vol2{
    justify-content: center;
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 113px;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
}
.p_text_vol2{
    padding-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    padding-bottom: 22px;
}
.get{
    background-color: #FFFFFF;
    border-radius: 14px;
    align-items: center;
    color: #000000;
    letter-spacing: 0.4px;
    text-decoration: none;
    padding-top: 11px;
    padding-bottom: 11px;
    display: flex;
    max-width: 154px;
    justify-content: center;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
    font-weight: 600;
    padding-right: 10px;
}
.border_img{
    background-color: black;
    border-radius: 16px;
    margin: auto;
}
.bottom_icon{
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
    align-items: center;
    list-style: none;
}
.bottom_icon li{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}
.bottom_icon li:before{
    content: "";
    display: inline-block;
    background-image: url("../images/3.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 5px;
}
.bottom_icon li:nth-child(2):before{
    background-image: url("../images/1.svg");
}
.bottom_icon li:nth-child(3):before{
    background-image: url("../images/2.svg");
    width: 32px;
}
.bottom_icon li:nth-child(4):before{
    background-image: url("../images/4.svg");
    width: 10px;
    height: 16px;
}
.fuji_banner{
    background-image: url("../images/fuji.jpg");
    background-size: cover;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.fuji_banner .container{
    max-width: 298px;
    margin-right: 62px;
}
.banner_article{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.banner_text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.leaves_banner{
    background-image: url("../images/fern.jpg");
    background-size: cover;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.leaves_banner .container{
    max-width: 273px;
    margin-right: 87px;
}
.himalayas_banner{
    background-image: url("../images/nepal.jpg");
    background-size: cover;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.himalayas_banner .container{
    max-width: 254px;
    margin-right: 106px;
}